venv
dist
*.egg-info
*.pyc
build
.coverage
.tox
docs/_build
*.backup
.python-version
old
*.ipynb_checkpoints

*__pycache__
.vscode

.DS_Store

# temporary

docs/*
!docs/images
tests

.travis.yml
tox.ini
Makefile

